<meta HTTP-EQUIV="REFRESH" content="1; url=../../main/index">
<p>
  Welcome Test User, your application is loading!
  <br />
  <br />
  <p style="text-align: center">
    <%= image_tag "loading.gif", size: "64"%>
  </p>
</p>