<meta HTTP-EQUIV="REFRESH" content="3; url=http://0.0.0.0:3000/main/index">
<p>
  Welcome <%= $client.user_info['user']['fullName'] %>, your application is loading!
  <br />
  <br />
  <p style="text-align: center">
    <%= image_tag "loading.gif", size: "64"%>
  </p>
</p>