<meta HTTP-EQUIV="REFRESH" content="2; url=../../">
<p>
  You logged out successfully. see you soon!
  <br />
  <br />
<p style="text-align: center">
  <%= image_tag "loading.gif", size: "64"%>
</p>
</p>