body{
    text-align: center;
}

.mobile {
    max-width: 375px;
    margin: 0 auto;
}

input {
    margin-top: 0px;
}

p{
    text-align: left;
}

td{
    text-align:center;
}

img{
    height:auto;
}
