<div data-role="page">
  <div data-role="main" class="ui-content">
    <%= image_tag "logo.png", size: "270" %>
    <br/>
    <div align="center">
      <a href="../test/" class="ui-btn" rel="external" style="width:30%;">
        <%= image_tag "check.png", size: "32" %>
        <br/>
        <label style="color:green">Connect</label>
      </a>
    </div>
    <div data-role="collapsible">
      <h1>What is Footsteps Trivia?</h1>
      <p>Footsteps trivia is a web application which connects to your FitBit wristband and gives you the opportunity to
        create, take, complete and share challenges based on real life distances.<br/>Tired of walking a determined number of steps every day?
        What about walking real life distances that you could never imagine? Like walking through the great wall of china.<br/>Give it a try!</p>
    </div>
  </div>
</div>