<div data-role="header">
  <h1>Goals List</h1>
</div>

<div data-role="main" class="ui-content">
  <ul data-role="listview">
    <% @goals.each do |goal| %>
        <li data-icon="plus">
          <%= link_to goal.title, goal_path(goal.id) %></li>
    <% end %>
  </ul>
</div>
  <a href="../../main/index" class="ui-btn ui-shadow ui-icon-back ui-btn-icon-left">Back</a>