body{
    text-align: center;
}

input {
    margin-top: 0px;
}

p{
    text-align: left;
}

td{
    text-align: left;
    vertical-align: top;
}

img{
    height:auto;
}

.progress {
    width: 100%;
    height: 7px;
}

.subtitle {
    font-size: 10px;

}

.ui-progressbar {
    height: 10px;
}

.ui-widget-header {
    border: 1px solid #008800;
    background: #008800;
}